@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  font-weight: 400;
  font-size: 5vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.header {
  display: flex;
  height: 10vh;
  width: 100vw;
  background-color: #794ef5;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 5vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 100vw;
}
