.carousel-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    max-width: 90%;
    padding: 5px;
}

.left-btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-button {
    margin: 1vw;
    width: 4vw;
    height: 4vw;
}

.right-button {
    margin: 1vw;
    width: 4vw;
    height: 4vw;
    transform: scaleX(-1);
}

.right-btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.carousel-hero-container {
    top: 0;
    bottom: 0;

    max-width: 100%;
    height: auto;
}

.carousel-hero-image {
    width: auto;
    height: auto;
    max-width: 50vw; 
    max-height: 50vh;
    object-fit: cover;
}

.mini-carousel-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    max-width: 90%;
    padding: 5px;
}

.mini-carousel-image {
    height: auto; 
    width: auto; 
    max-width: 120px; 
    max-height: 80px;
    margin: 4px;
}