.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.col {
  border-radius: 1.1vh;
  height: 4.5vw;
  width: 30vw;
  background-color: #DFDFDF;
  border-style: solid;
  border-width: 3px;
  border-color: #DFDFDF;
  margin: 2.4vw;
  margin-bottom: 6vh;
}

.username {
  font-size: 3vw;
  position: relative;
  top: 0.5vh;
  top: 0.5vw;
  /* left: 0.5vw;
  right: 0.5vw; */
  text-align: center;
}

.names {
  margin: auto;
  width: 90vw;
  padding: 5px;
}

.startButton {
  font-size: 3vw;
  border: none;
  border-radius: 2vw;
  background-color: #7449EF;
  position: relative;
  top: 4vh;
  margin: auto;
  margin-top: 4vh;
  width: 17vw;
  padding: 5px;
  color: white;
}
